# Add Go binaries to PATH for Wails CLI
export PATH="$PATH:$(go env GOPATH)/bin"

# Fix WebKit/Go signal handler conflicts in Wails
# See: https://github.com/wailsapp/wails/issues/1733
export GODEBUG=asyncpreemptoff=1
export WEBKIT_DISABLE_COMPOSITING_MODE=1
export GOTRACEBACK=all

